identity.txt
.DS_Store
HOW_TO_SUBMIT.md
submission*
submit.py
ls*
Textbook_Linux_Command_Line.pdf
return.py
textbook_python.pdf
palindrom*
walley*
*_reviewed*
hw3*
output*

a5_assignment_txt_version.txt
CMUDict_text_ver.txt
sample.txt

# for checkpoints not appearing
.ipynb*
