identity.txt
.DS_Store
HOW_TO_SUBMIT.md
submission*
submit.py
ls*
Textbook_Linux_Command_Line.pdf
return.py
textbook_python.pdf
palindrom*
walley*
*_reviewed*
hw3*
output*
# remove once i start on hw5
/a5
